.wrap-detail-student {
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(0 0 0 / 20%);
    border-radius: 8px;
    overflow: hidden;
    border-color:#e8e8ee;
}


.rank-in-class {
    border-radius: 8px;
    height: 100%;
    text-align: center;
}



.rank-in-class p {
    font-size: 13px;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    padding-bottom: 2px;
    margin-bottom: 0;
    font-weight: 500;
}
.rank-in-class div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 33px;
    font-weight: 500;
    height: calc(100% - 24px);
}
.note-box p{
    font-size: 13px;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    margin-bottom: 10px;
    font-weight: 500;
    text-align: center;
}
.wrap-icon-add-note {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    padding-top: 18px;
}
.wrap-icon-add-note span{
    font-size: 13px !important;
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;

}
.wrap-icon-add-note span:hover{
    background-color: #e8e8ee;
}
.wrap-item-note {
    height: 230px;
    list-style: none;
    overflow: scroll;
    padding: 0px;
    margin: 0;
}
.wrap-item-note li {
    display: flex;
    margin: 5px;
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 10px;
    overflow: hidden;
}
.wrap-item-note li button:hover {
    background-color: #f5f5fd;
}
.wrap-item-note button {
    flex: 1;
}
.wrap-item-note li span {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}
.wrap-icon-add-note span {
    margin: 0;
}
.wrap-item-note li label {
    padding: 5px;
    font-size: 12px !important;
    cursor: pointer;
}
.wrap-item-note li span:hover {
    background-color: #fddbd3;
}
.custom-close-btn {
    border: none;
    background-color: transparent;
}
.name-student {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mssv{
    display: flex;
    padding: 10px;
}
.mssv div{
    height: 100%;
}
.mssv label{
    font-size: 13px;
    color: rgb(99, 99, 99);
}
.mssv span{
    font-size: 15px;
    color: black;
    font-weight: 600;
}
.mssv div:first-child{
    display: block;
    width: 40%;
}

.student-detail {

    color: #016dd8;
    font-size: 30px;
    font-weight: 700;
    /* background-color: #4d6fef; */
    /* color: #4567ee; */
}

.dropdown{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.dropdownStudent{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}