<div class="col-xl-12 col-md-12 ">
    <div class="wrap-box bar-chart">
        <div id="myBarChart"></div>

    </div>
</div>
<script>
    /*$(document).ready(function(){

        
    })*/
    function render_bar_chart(data, class_name){
        var { score10_data, score4_data } = data.data;
        var options = {
          series: [{
            data: Object.values(score10_data),
            type: "column",
            name: "Điểm 10",
          }, 
          {
            data: Object.values(score4_data),
            type: "line",
            name: "Điểm 4",
          }],
          chart: {
            height: 350,
            type: "line",
            toolbar: {
                show: !0
            }
          },
          stroke: {
              width: [0, 3],
              curve: "smooth"
          },
          title:{
            text: "THỐNG KÊ ĐIỂM TỔNG KẾT",
            align: 'center',
            style: {
              fontSize:  '25px',
              fontFamily: 'Roboto',
            }
          },
          xaxis: {
            categories: Object.keys(score10_data),
            title: {
              floating: true,
              style: {
                fontSize:  '20px',
                fontFamily: 'Roboto'
              },
            },
              tickAmount: Object.keys(score10_data).length/2,
              
          },
          plotOptions: {
            bar: {
                horizontal: !1,
                columnWidth: "20%"
            }
          },
          dataLabels: {
              enabled: !1
          },
          legend: {
              show: !1
          },
          
          colors: ["#6d77b9", "#5bceac"],
          labels: Object.keys(score10_data),
    
        };
        
        const chart = new ApexCharts(
          document.querySelector('#myBarChart'), 
          options
        )
        
        chart.render();
      }

</script>