
<div class="col-3">
  {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/note.css' %}">
    <div class="wrap-box">
        <div class="note-box">
            <p>Ghi chú của giảng viên về lớp này</p>

            <div class="wrap-detail-student" style="height: 18.75rem;">
                <ul class="wrap-item-note" style="height: 100%;">
                    {% for note in class_note %}
                    <li>
                      <button type="button" class="btn" data-toggle="modal" data-target="#{{ note.id }}" 
                          data-whatever="{{ note.name|date:'m/d/Y' }}">{{ note.name|date:'m/d/Y' }}</button>
                      <span>
                          <label>
                              <i class="fas fa-trash-alt"></i>
                          </label>
                      </span>
                    </li>
                    {% endfor %}
                </ul>

                {% for note in class_note %}
                  <div class="modal fade modal-note" id="{{ note.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabelNote" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabelNote">Ghi chú</h5>
                        <button type="button" class="close custom-close-btn" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">
                              <label>
                                  <i class="fas fa-times"></i>
                              </label>
                          </span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Ngày ghi chú</label>
                            <h3>{{ note.name|date:'m/d/Y' }}</h3>
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">Nội dung</label>
                            <textarea class="form-control" id="message-text">{{ note.content }}</textarea>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary">Lưu chỉnh sửa</button>
                      </div>
                    </div>
                  </div>
                  </div>
                {% endfor %}
                
            </div>
            <div class="wrap-icon-add-note">
                <span  data-toggle="modal" data-target="#modalAddNoteClass">
                    <label for="">Thêm</label>
                    <i class="fas fa-plus"></i>
                </span>
                <div class="modal fade modal-add-note" id="modalAddNoteClass" tabindex="-1" role="dialog" aria-labelledby="modalAddNoteLabelClass" aria-hidden="true">
                  <!-- cái class modal-dialog-centered là để căn center :)) nếu k thích ở giữa thì xóa đi -->
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="modalAddNoteLabelClass">Thêm ghi chú</h5>
                          <button type="button" class="close custom-close-btn" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                <label>
                                    <i class="fas fa-times"></i>
                                </label>
                            </span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <label for="recipient-name" class="col-form-label">Ngày</label>
                              <input type="date" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Nội dung</label>
                              <textarea class="form-control" id="message-text">hello</textarea>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                          <button type="button" class="btn btn-primary note-class-confirm">Thêm ghi chú</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <script src="{% static 'home/js/note.js' %}"></script>
</div>
