.chat-box {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 9999;
}
.button-chat {
    background-color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    display: none;
    box-shadow: 1px 1px 2px 2px #747373;
    cursor: pointer;
    transform: ease-in-out 0.5s;
}

.button-chat img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button-chat:hover {
    scale: 1.2;
}

.modal-chat {
    background-color: white;
    box-shadow: 1px 1px 2px 2px #747373;
    width: 22rem;
    height: 27rem;
    border-radius: 1rem;
    display: none;
    animation: zoomIn 0.5s;
    flex-direction: column;    
}

@keyframes zoomIn {
    from {
        width: 0;
        height: 0;
    }
    to {
        width: 22rem;
        height: 27rem;
    }
}


.isShow {
    display: flex;
}

.header-chat-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-chat-info h4 {
    padding: 0;
    margin: 0 0 0 0.5rem;
    font-size: 1.3rem;
}
.header-chat-info img {
    width: 2.5rem; 
    height: 2.3rem;
    border-radius: 999rem;
    border: 1px solid #8888;
}

.header-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid #8888;
}

.header-chat-close {
    cursor: pointer;
    font-size: 1.5rem;
    transform: ease-in-out 0.3s;
    padding-right: 0.5rem;
}
.header-chat-close:hover {
    scale: 1.2;
}

.body-chat {
    overflow-y: scroll;
    flex: 1;
    padding: 0.5rem 1rem;
}

.admin {
    justify-content: flex-start !important;
}
.admin + .admin {
    margin-top: 0.35rem !important;
}

.message {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.75rem;
}
/* .message + .message {
    margin-top: 0.35rem;
} */

.message-content {
    min-height: 2.5rem;
    border-radius: 1rem;
    border: 1px solid #8888;
    padding: 0.25rem 1rem;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0084ff;
}
.message-admin-content {
    min-height: 2.5rem;
    border-radius: 1rem;
    border: 1px solid #8888;
    padding: 0.25rem 1rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdfcfc;

}
.message-content p {
    margin: 0;
    padding: 0;
    line-height: 1.20rem;
}

.message-admin-content p {
    margin: 0;
    padding: 0;
    line-height: 1.20rem;
}

.logo-mess {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 999rem;
    border: 1px solid #8888;
    margin-right: 0.5rem;
}





.footer-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    border-top: 1px solid #8888;
}

.footer-chat-info {
    font-size: 1.5rem;   
    margin-right: 0.5rem;
}
.footer-chat-info:hover {
    scale: 1.2;
}

.wrap-input {
    position: relative;
    flex: 1;
    height: 2rem;
}
.footer-chat-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 1rem;
    width: 100%;
}
.footer-chat-input input {
    border-radius: 2rem;
    border: 1px solid #8888;
    outline: none;
    padding: 0.25rem 3rem 0.25rem 1rem; 
    width: 100%;
}
.footer-chat-send {
    cursor: pointer;
    margin: 0rem 0.5rem;
    font-size: 1rem;
    transform: ease-in-out 0.3s;
    padding-left: 0.5rem;
    position: absolute;
    right: 0.5rem;
    top: 0.20rem;
    bottom: 0;
}
.footer-chat-send:hover {
    scale: 1.2;
}