{% extends '../layout.html'%} 
{% block main_body %} 
{% load static %}
<link rel="stylesheet" href="{% static 'addClass/css/addClass.css' %}" />
<div class="main" style="padding: 0;">
    <div class="container-fluid" style="padding: 110px 20px 80px 280px; background-color: #f5f7f9;">
        <div class="row">
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-4">
                <div class="box-subject-name">
                    <p class="subject-name"> Toan cc</p>
                   
                    <div class="wrap-dropdown-subject">
                        <button class="btn btn-subject btn-secondary dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>HOC KI</span>
                        </button>
                        <div class="dropdown-menu menu-custom" aria-labelledby="dropdownSubject">
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                            <li><p class="dropdown-item">HK 1 - 2023</p></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="wrap-btn-confirm">
            <button>Xác nhận tất cả</button>
        </div>
    </div>
</div>
{% endblock %}