{% extends '../layout.html'%} 
{% block main_body %} 
{% load static %}
<link rel="stylesheet" href="{% static 'addClass/css/addClass.css' %}" />
<div class="main">
    <div class="wrap-form-add-class">
        <div class="form-box">
            <h2>Cập nhật điểm của lớp {{ uploading_class }}
               
            </h2>
            <form>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Hãy chọn file để tải lên</label>
                    <input class="form-control" type="file" id="formFile">
                  </div>
                <div class="wrap-btn">
                    <button type="submit" class="btn btn-success btn-submit-form">Tải lên
                        <label>                 
                            <!-- <i class="fa-light fa-upload"></i>               -->
                        </label>
                    </button>
                    <button type="submit" class="btn btn-danger">Hủy
                        <label>
                            <i class="fas fa-arrow-rotate-left"></i>
                        </label>
                    </button>
                </div>
              </form>
        </div>
    </div>
    
</div>
{% endblock %}