{% extends '../layout.html'%} 
{% block main_body %} 
{% load static %}

<div class="main">
    {{student_list|json_script:"student-json"}}
    <div class="content">
        <div class="wrap-content container-fluid">
            <div class="row">
                <div class="col-12" style="margin-top: 1.25rem;">
                    <div class="row wrap-box">
                        <iframe src="{{iframeUrl}}" frameborder="2"
                                width="800"
                                height="600"
                                allowtransparency></iframe>
                        
                    </div>
                </div>
                
                <div class="col-12 line-4" style="margin-top: 1.25rem;">
                    <div class="row">
                        <div class="col-9">
                            <link rel="stylesheet" href="{% static 'home/css/tabulator.css' %}">
                            <div class="wrap-box" style="height: 25rem;">
                                <div class="overview csv-table"></div>
                            </div>
                        </div>
                        
                        {% include 'home/overview/class_note.html' %}
                    </div>
                </div>
                
                <div class="col-12 line-6" style="margin: 1.25rem 0;">
                    {% include 'home/subject/subject-student.html' %}
                </div>
            </div>
        </div>

 

        <script data-cache-name="{{ cached_class_name }}">
            const class_name = document.currentScript.dataset.cacheName;
            function get_class_detail_url () {
                return "{% url 'class_list_api' cached_class_name %}";
            }
            function get_class_url () {
                return "{% url 'class_detail_api' cached_class_name %}";
            }
            
        </script>
        
        
        <script src="{% static 'home/js/home.js' %}"></script>

    </div>
</div>
{% endblock %}