{% extends '../layout.html'%} 
{% block main_body %} 
{% load static %}

<div class="main">
    <div class="content">
        <div class="wrap-content container-fluid">
            <div class="row">
                <div class="col-12 line-1 " style="margin-top: 20px;">
                    <div class="row">
                        {% include 'home/charts/bar_chart_overview.html' %}
                    </div>
                </div>
                <div class="col-12 line-2" style="margin-top: 20px;">
                    <div class="row">

                        {% include 'home/charts/bar_chart_student.html' %}

                        <div class="col-4">
                            <div class="wrap-box">
                                <div class="portlet">
                                    <h3>{{ cached_class_name }}</h3>
                                    <p>Tên lớp</p>
                                </div>
                                <div class="portlet">
                                    <h3 >{{class.number_of_student}}</h3>
                                    <p>Sĩ số</p>
                                </div>
                                <div class="portlet">
                                    <h3>{{class.class_major}}</h3>
                                    <p>Chuyên ngành</p>
                                </div>
                                <div class="portlet">
                                    <h3 >{{teacher.first_name}} {{ teacher.last_name}}</h3>
                                    <p>Giáo viên chủ nhiệm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 line-3" style="margin-top: 20px;">
                    <div class="row">

                        {% include 'home/charts/table.html' %}
                        
                        <div class="col-5">
                            <div class="wrap-box"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 line-4" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-4">
                            <div class="wrap-box"></div>
                        </div>
                        <div class="col-4">
                            <div class="wrap-box"></div>
                        </div>
                        <div class="col-4">
                            <div class="wrap-box"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 line-5" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-6">
                            <div class="wrap-box"></div>
                        </div>
                        <div class="col-3">
                            <div class="wrap-box"></div>
                        </div>
                        <div class="col-3">
                            <div class="wrap-box"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 footer row" style="margin-top: 20px;">
                    <div class="col-12">
                        <div class="wrap-box"></div>
                    </div>
                </div>




                
            </div>
        </div>

 

        <script>
            var class_name = "{{ cached_class_name }}";
            function get_class_detail_url (class_name) {
                return "{% url 'class_list_api' cached_class_name %}";
            }
            function get_class_url (class_name) {
                return "{% url 'class_detail_api' cached_class_name %}";
            }
            
        </script>
        
        <script src="{% static 'home/js/home.js' %}"></script>
        
        <script src="{% static 'home/js/overview.js' %}"></script>

        <script src="{% static 'home/js/student.js' %}"></script>
    </div>
</div>
{% endblock %}