{% extends '../layout.html'%} 
{% block main_body %} 
{% load static %}

<div class="main">
    <link rel="stylesheet" href="{% static 'student/css/student.css' %}">
    <link rel="stylesheet" href="{% static 'student/css/tabulator.css' %}">
    <div class="content">
        <div class="wrap-content container-fluid">
            <div class="row">
                <div class="col-12 line-1 " style="margin-top: 1.25rem;">
                    <div class="col-12 line-15" style="margin-top: 1.25rem;margin-bottom: 1.25rem">
                        <div class="wrap-box">
                            <div class="feature chart-to-student col-12">
                            
                                <div class="row" style="width: 100%; height: 100%; padding: 0; margin: 0;">
                                    
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" style="padding-top: 0.625rem;">   
                                        <div class="row" style="height: 100%">
                                            <iframe
                                                src="{{iframeUrl}}"
                                                frameborder="0"
                                                width="800"
                                                height="600"
                                                allowtransparency
                                            ></iframe>
                                            <!-- <div class="col-12" style="padding-left: 0;">
                                            
                                                <div class="wrap-detail-student">
                                                    
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                
                                </div>
                                
                                
                            
                                
                               
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{subject_list|json_script:"subject-json"}}

<script src="{% static 'student/js/student.js' %}"
id="student-script" 
data-class-total-credit="{{class.total_credit}}" 
data-student-credit="{{student.passed_credit}}">
</script>



{% endblock %}