<div class="col-md-12">
    <div class="table-wrap">
        <table class="table table-responsive-xl">
            <thead>
                <tr>
                    <th>Môn học</th>
                    <th>Điểm</th>
                    <th>Số tín chỉ</th>
                </tr>
            </thead>
            <tbody>
                <tr class="alert" role="alert">
                    
                    <td class="d-flex align-items-center">
                        <div class="pl-3 email">
                            <span>markotto@email.com</span>
                        </div>
                    </td>
                    <td>Markotto89</td>
                    <td class="status"><span class="active">Active</span></td>
                    
                </tr>
                <tr class="alert" role="alert">
                    
                    <td class="d-flex align-items-center">
                        <div class="pl-3 email">
                            <span>jacobthornton@email.com</span>
                        </div>
                    </td>
                    <td>Jacobthornton</td>
                    <td class="status"><span class="waiting">Waiting for Resassignment</span></td>
                    
                </tr>
                <tr class="alert" role="alert">
                    
                    <td class="d-flex align-items-center">
                        <div class="pl-3 email">
                            <span>larrybird@email.com</span>
                        </div>
                    </td>
                    <td>Larry_bird</td>
                    <td class="status"><span class="active">Active</span></td>
                    
                </tr>
                <tr class="alert" role="alert">
                    
                    <td class="d-flex align-items-center">
                        <div class="pl-3 email">
                            <span>johndoe@email.com</span>
                        </div>
                    </td>
                    <td>Johndoe1990</td>
                    <td class="status"><span class="active">Active</span></td>
                    
                </tr>
                
            </tbody>
        </table>
    </div>
</div>