{% load static %}
<div class="feature chart-to-student col-12">
    <div class="row" style="width: 100%; height: 100%; padding: 0; margin: 0;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 col-xxl-4" style="padding : 0">
            <div class="col-12" style="height: calc(20% + 5px); margin-bottom: 5px; position: relative;">
                <div class="wrap-detail-student" style="overflow: unset;">
                    <div class="dropdownStudent">
                        <button class="btn custom-btn btn-secondary dropdown-toggle" type="button" id="dropdownStudentName" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                            <span>{{student.student_name}}</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-student" aria-labelledby="dropdownStudentName">
                            {% for s in student_list %}
                            <a class="dropdown-item dropdown-class" data-student="{{ forloop.counter0 }}">
                                {{s.student_name}}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" style="height: calc(80%); margin-top: 10px;">
                <div class="row">
                    <div class="col-6" style="height:50%; padding-right: 5px;">
                        <div class="wrap-detail-student">
                            <div class="rank-in-class student-score10">
                                <p>Điểm 10</p>
                                <div>{{student.score_10}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" style="height:50%;  padding-left: 5px;">
                        <div class="wrap-detail-student">
                            <div class="rank-in-class student-score4">
                                <p>Điểm 4</p>
                                <div class="rank">{{student.score_4}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" style="height:50%; margin-top: 10px;  padding-right: 5px;">
                        <div class="wrap-detail-student">
                            <div class="rank-in-class">
                                <p>Điểm chữ</p>
                                <div class="student-scorechar">{{student.score_char}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" style="height:50%; margin-top: 10px;  padding-left: 5px;">
                        <div class="wrap-detail-student">
                            <div class="rank-in-class">
                                <p>Học lực</p>
                                <div class="student-rank">{{student.rank}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 col-xxl-5">   
            <div class="row" style="height: 100%; padding-top: 0;">
                <div class="col-12" style="height: calc(100%); margin-bottom: 5px;">
                    <div class="wrap-detail-student">
                        <div class="name-student" style="height: 40%;">
                            <h2>{{student.student_name}}</h2>
                        </div>
                        <div class="info-detail-student">
                            <div class="mssv">
                                <div class="student-id"><label>MSSV: </label><span> {{student.student_id}}</span></div>
                                <div class="class-major"><label>Chuyên nghành: </label><span> {{class.class_major}}</span></div>
                            </div>
                            <div class="mssv">
                                <div class="class-name"><label>Tên lớp: </label><span> {{class.class_name}}</span></div>
                                <div class="student-gmail"><label>Gmail: </label><span> {{student.student_gmail}}</span></div>
                            </div>
                            <div class="mssv">
                                <div class="student-year"><label>Khóa: </label><span> Adding...</span></div>
                                <div class="student-active"><label>Tình trạng tốt nghiệp: </label><span> 
                                    {% if student.is_active %}
                                        Đã tốt nghiệp
                                    {% else %}
                                        Chưa tốt nghiệp
                                    {% endif %}
                                </span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3" style="padding : 0">
            <div class="row" style="height: 100%; padding-top: 0;">
                <div class="row" style="padding-right: 0;">
                    <div class="col-12" style="padding-right: 0;">
                        <div class="wrap-detail-student wrap-box">
                            <div class="rank-in-class">
                                <p>Số tín chỉ đã học</p>
                                <div class="student-credit"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" style="padding : 0px; margin-top: 10px;"> 
            <div class="wrap-box" style="height: 300px;"></div>
        </div> 
    </div>
    
    {{student_list|json_script:"student-json"}}


    <script 
        src="{% static 'home/js/student.js' %}"
        id="student-script" 
        data-class-total-credit="{{class.total_credit}}" 
        data-student-credit="{{student.passed_credit}}">
    </script>
</div>
