<p>Ghi chú của giảng viên về sinh viên</p>
<div class="col-12" style="position: relative;">
        <div class="dropdownNote">
            <button class="btn custom-btn btn-secondary dropdown-toggle" type="button" id="dropdownNoteName" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none; width: 100%;">
                <span>30/4/2023</span>
            </button>
            <div class="dropdown-menu dropdown-menu-student" aria-labelledby="dropdownNoteName" style="width: 100%;">
                <a class="dropdown-item dropdown-class">
                    s.student_name 1
                </a>
                <a class="dropdown-item dropdown-class">
                    s.student_name 2
                </a>
                <a class="dropdown-item dropdown-class">
                    s.student_name 3
                </a>
                
                <a class="dropdown-item dropdown-class">
                    s.student_name 4
                </a>
                <a class="dropdown-item dropdown-class">
                    s.student_name 5
                </a>
                <a class="dropdown-item dropdown-class">
                    s.student_name 6
                </a>
            </div>
        </div>
</div>

<div class="wrap-detail-student">
    <ul class="wrap-item-note">
        <li>
            <span>
                    note 1 hjdbsbfdsf akhbsdhjbasd kahbsd dsa hasbdabsd hasbdjsa dsakhbdla sadlfkb 
            </span> 
           
        </li>
    </ul>
</div>
<div class="wrap-icon-add-note">
    <span>
        <label for="">Thêm</label>
        <i class="fas fa-plus"></i>
    </span>
    <span>
        <label>
            <i class="fas fa-edit"></i>
        </label>
    </span>
    <span>
        <label>
            <i class="fas fa-trash-alt"></i>
        </label>
    </span>
</div>