{% extends '../layout.html'%} 
{% block main_body %} 
{% load static %}
    <link rel="stylesheet" href="{% static 'teacher/css/teacher.css' %}">
    <div class="wrap-update-info-teacher">
        <div class="content">
            <div class="wrap-content container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="card-body" style="background-color: white;">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                        <div class="mt-3">
                                            <h4>{{ teacher.teacher_fullname }}</h4>
                                            <p class="text-secondary mb-1">Khoa: {{ teacher.major }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="container" style="padding: 0.3125rem 1.25rem;">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Mã số giảng viên</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                {{ teacher.teacher_id }}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Họ và tên</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                {{ form.teacher_fullname }}
                                                <label><i class="fas fa-pencil-alt"></i></label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Email</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                {{ teacher.email }}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">SĐT</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                {{ form.phone_number }}
                                                
                                                <label><i class="fas fa-pencil-alt"></i></label>
                                            </div>
                                            
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Giới tính</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <input style="width: 2.5rem;" type="radio" name="sex" checked/>
                                                <label style="margin: 0 0.3125rem;">Nam</label>
                                                <input style="width: 2.5rem;" type="radio" name="sex"/>
                                                <label style="margin: 0 0.3125rem;">Nữ</label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Năm sinh</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                {{ form.year_of_birth }}
                                                <label><i class="fas fa-pencil-alt"></i></label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Trình độ</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                {{ form.academic_title }}
                                                <label><i class="fas fa-pencil-alt"></i></label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-2">
                                                <button class="btn btn-info save" type="submit">
                                                    Lưu thông tin
                                                    <i class="fas fa-save"></i>
                                                </button>
                                            </div>
                                            <script>
                                                function containsOnlyNumbers(str) {
                                                    return /^\d+$/.test(str);
                                                  }
                                                $(document).ready(function(){
                                                    $(".save").click(function(){
                                                        var phone_number = $("input[name='phone_number']").val();
                                                        // check phone number contains only number and has length of 10
                                                         ;
                                                        if (phone_number.length != 10 || containsOnlyNumbers(phone_number) == false){
                                                            alert("Số điện thoại không hợp lệ");
                                                            return false;
                                                        }
                                                    });
                                                    
                                                });
                                            </script>
                                            <div class="col-2">
                                                <button class="btn btn-info logout">
                                                    Đổi mật khẩu
                                                    <i class="fas fa-key"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}