{% extends './layout.html'%} 
{% block main_body %} 
{% load static %}


<div class="main">
    <div class="container">
        <div class="main_body">
            <link rel="stylesheet" href="{% static 'about_us/css/about_us.css' %}" />
            <div class="responsive-container-block bigContainer" 
                style="padding-top: 5%;">
                <div class="responsive-container-block Container">
                    <img class="mainImg" src="{% static 'about_us/images/image_01.jpg' %}" data-aos="fade-right"
                    data-aos-anchor="#example-anchor"
                    data-aos-offset="500"
                    data-aos-duration="500"/>
                    <div class="allText aboveText" data-aos="fade-down-left">
                        <p class="text-blk headingText">
                            Giới thiệu
                        </p>
                        <p class="text-blk subHeadingText">
                            AI club & Data Innovation lab (H2.2)
                        </p>
                        <p class="text-blk description">
                            Đây là đơn vị nghiên cứu hàng đầu về trí tuệ nhân tạo và khoa học dữ liệu của trường Đại học Công Nghiệp Thành phố Hồ Chí Minh. Được thành lập từ năm 2020, AI club là một câu lạc bộ có chuyên môn cao trong lĩnh vực AI, với đội ngũ giảng viên và sinh viên tận tâm có kiến thức sâu rộng về lĩnh vực trí tuệ nhân tạo, AI club luôn nỗ lực không ngừng để tạo ra các sản phẩm AI đáp ứng các nhu cầu của cộng đồng, góp phần nâng cao chất lượng cuộc sống của mọi người. Cung cấp nền tảng cho các sinh viên và nhà nghiên cứu đam mê AI để học tập, nghiên cứu và phát triển những giải pháp công nghệ đột phá.

Data Innovation lab (H2.2) là phòng lab chính của chuyên ngành Khoa học dữ liệu thuộc khoa Công nghệ thông tin của trường Đại học Công Nghiệp Thành phố Hồ Chí Minh, nơi tập trung các chuyên gia nghiên cứu dữ liệu và AI hàng đầu của trường. Đây cũng là nơi đặt trụ sở của AI club, tạo điều kiện thuận lợi cho phát triển chung.

AI club và Data Innovation lab đã và đang nghiên cứu, phát triển và triển khai các sản phẩm AI và khoa học dữ liệu chất lượng cao.
                        </p>
                        <a href="https://www.facebook.com/aiclub.iuh/">
                            <button class="explore">
                                Fanpage on Facebook
                            </button>
                        </a>
                    </div>
                </div>
                <div class="responsive-container-block Container bottomContainer">
                    <img class="mainImg" src="{% static 'about_us/images/image_02.jpg' %}" data-aos="fade-right"
                    data-aos-anchor="#example-anchor"
                    data-aos-offset="500"
                    data-aos-duration="500"/>
                    <div class="allText bottomText" data-aos="fade-down-left">
                        <p class="text-blk headingText">
                            Tầm nhìn
                        </p>
                        <p class="text-blk subHeadingText">
                            Định hướng phát triển thành một clb chuyên về nghiên cứu AI của trường Đại học Công nghiệp
                        </p>
                        <p class="text-blk description">
                            AI club định hướng phát triển trở thành một cộng đồng nghiên cứu chuyên sâu về lĩnh vực trí tuệ nhân tạo và khoa học dữ liệu của Đại học Công Nghiệp Thành phố Hồ Chí Minh. Chúng tôi không ngừng cải tiến và đổi mới để tạo ra các sản phẩm AI thông minh, an toàn và ưu việt, nhằm nâng cao chất lượng cuộc sống của mọi người và đóng góp vào sự phát triển của Việt Nam nói chung và trường Đại học Công nghiệp nói riêng, điều đó cũng đồng nghĩa với việc thăng tiến vị thế của trường Đại học Công nghiệp Thành phố Hồ Chí Minh trong lĩnh vực này.
                        </p>
                        <a href="https://www.facebook.com/groups/538890610129932">
                            <button class="explore">
                                Group on Facebook
                            </button>
                        </a>
                    </div>
                </div>
                <div class="responsive-container-block Container">
                    <img class="mainImg" src="{% static 'about_us/images/image_01.jpg' %}" data-aos="fade-right"
                    data-aos-anchor="#example-anchor"
                    data-aos-offset="500"
                    data-aos-duration="500"/>
                    <div class="allText aboveText" data-aos="fade-down-left">
                        <p class="text-blk headingText">
                            Our Mission
                        </p>
                        <p class="text-blk subHeadingText">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <p class="text-blk description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum pulvinar ullamcorper suspendisse ac eget. Pellentesque tempus leo in ullamcorper quis vestibulum ligula elementum ut.
                        </p>
                        <a href="https://www.facebook.com/aiclub.iuh/">
                            <button class="explore">
                                Fanpage on Facebook
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
