{% extends './layout.html'%} 
{% block main_body %} 
{% load static %}


<div class="main">
    <div class="container">
        <div class="main_body">
            <link rel="stylesheet" href="{% static 'about_us/css/about_us.css' %}" />
            <div class="responsive-container-block bigContainer" 
                style="padding-top: 5%;">
                <div class="responsive-container-block Container">
                    <img class="mainImg" src="{% static 'about_us/images/image_01.jpg' %}" data-aos="fade-right"
                    data-aos-offset="500"
                    data-aos-duration="500"/>
                    <div class="allText aboveText" data-aos="fade-down-left">
                        <p class="text-blk headingText">
                            Giới thiệu
                        </p>
                        <p class="text-blk subHeadingText">
                            AI club & Data Innovation lab (H2.2)
                        </p>
                        <p class="text-blk description" style="font-size: 20px;">
                            Được thành lập từ năm 2020, AI club là đơn vị nghiên cứu hàng đầu về trí tuệ nhân tạo của IUH, với đội ngũ giảng viên và sinh viên tận tâm có kiến thức sâu rộng về lĩnh vực trí tuệ nhân tạo.
Data Innovation lab (H2.2) là phòng lab chính của chuyên ngành Khoa học dữ liệu thuộc khoa CNTT IUH, nơi tập trung các chuyên gia nghiên cứu dữ liệu và AI của trường. Đây cũng là nơi đặt trụ sở của AI club.
Câu lạc bộ đã và đang nghiên cứu, phát triển các sản phẩm AI và khoa học dữ liệu chất lượng cao.
                        </p>
                        <a href="https://www.facebook.com/aiclub.iuh/">
                            <button class="explore">
                                Fanpage on Facebook
                            </button>
                        </a>
                    </div>
                </div>
                <div class="responsive-container-block Container bottomContainer">
                    <img class="mainImg" src="{% static 'about_us/images/image_02.jpg' %}" data-aos="fade-right"/>
                    <div class="allText bottomText" data-aos="fade-down-left">
                        <p class="text-blk headingText">
                            Tầm nhìn
                        </p>
                        <p class="text-blk subHeadingText">
                            Định hướng phát triển thành một clb chuyên về nghiên cứu AI của trường Đại học Công nghiệp
                        </p>
                        <p class="text-blk description">
                            Với định hướng trên, chúng tôi không ngừng cải tiến và đổi mới để tạo ra các sản phẩm AI thông minh, an toàn và ưu việt, nhằm nâng cao chất lượng cuộc sống của mọi người và đóng góp vào sự phát triển của quốc gia.
                        </p>
                        <a href="https://www.facebook.com/groups/538890610129932">
                            <button class="explore">
                                Group on Facebook
                            </button>
                        </a>
                    </div>
                </div>
                <div class="responsive-container-block Container">
                    <img class="mainImg" src="{% static 'about_us/images/image_01.jpg' %}" data-aos="fade-right"/>
                    <div class="allText aboveText" data-aos="fade-down-left">
                        <p class="text-blk headingText">
                            Sứ mệnh
                        </p>
                        <p class="text-blk subHeadingText">
                            "Sứ mệnh của chúng tôi là hướng đến một cuộc sống tốt đẹp hơn cho mọi người"
                        </p>
                        <p class="text-blk description">
                            Bằng cách phát triển và áp dụng các công nghệ trí tuệ nhân tạo tiên tiến để giải quyết các thách thức phức tạp trong xã hội và đẩy mạnh sự tiến bộ của nền kinh tế số tại Việt Nam. Chúng tôi cam kết thực hiện sứ mệnh này với đam mê, sự sáng tạo và tinh thần trách nhiệm cao.
                        </p>
                        <a href="https://www.facebook.com/aiclub.iuh/">
                            <button class="explore">
                                Fanpage on Facebook
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
