{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vis For Teacher</title>
    <link rel="shortcut icon" href="https://media.iuh.edu.vn/Media/2_sviuh/Images/icon65d669c1-0-e.ico">
    <!-- CSS only -->
    {% load static %}
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    <link  rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <!--Jquery-->
    <!-- <script src="jquery-3.6.1.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!--dropdown Lib-->
    <!-- <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script> -->
    <!-- <script src="https://unpkg.com/@popperjs/core@2"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <!--Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- AOS animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!--AOS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!--Highcharts.js-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <body>
        <script>
            AOS.init();
        </script>
        <div class="header container-fluid">
            <header class="wrap-header">
                <div class="logo">
                    <a href="{% url 'home' cached_class_name %}">
                        <img src="{% static 'login/images/Logo_IUH.png'%}" alt="vis4t" style="height: 6.25rem; width: 14.375rem;">
                    </a>
                </div>
                <div class="wrap-option">
                        <div class="option">
                            <form>
                                <button type="submit" class="btn-search">
                                    <i class="fa-solid fa-search"></i>
                                </button>
                                <input type="text" id = "myInput" name="search" placeholder="Nhập tên sinh viên..." class="search">
                                
                                
                                <div class="hint-dropdown show-hint-dropdown">
                                    <ul class="item-list">

                                    </ul>
                                </div>
                            </form>
                            <script>
                                
                                $(document).ready(function() {
                                    $('#myInput').blur(function() {
                                        setTimeout(() => {
                                            $('.hint-dropdown').removeClass('show-hint-dropdown');
                                        },500)
                                    });

                                    $('#myInput').focus(
                                        function() {
                                            $('.hint-dropdown').addClass('show-hint-dropdown');
                                        }

                                    );

                                   

                                    $('#myInput').on('keyup', function() {
                                        var letter = $(this).val();

                                        $.ajax({
                                            url: '/autocomplete',
                                            type: 'GET',
                                            data: { letter: letter },
                                            success: function(data) {
                                                $('.hint-dropdown .item-list').empty();
                                                var students = data.students.slice(0, 5);
                                                console.log("student :",students);
                                                const arrHint  = $.map(students, function(student,index) {
                                                    return (`<li><a href = "/student/${student.student_id}">${student.student_name + " - " + student.class_name}</a></li>`)
                                                });

                                                // console.log("arrHint : ",arrHint)
                                                // console.log("letter :", )
                                                $('.item-list').html(arrHint.join(""));
                                                // console.log($('.item-list'))
                                            }
                                        });
                                    });
                                });

                                   
                                
                                    
                            </script>
                        </div>
                        <div class="option">
                            <a class="bell_notification_clicker" href="#"> 
                                <img src="{% static 'home/images/bell.svg'%}" alt="">
                                <!-- <span>04</span> -->
                            </a>
                            
                        </div>
                        <div class="option">
                            <span class="icon"><i class="fa-solid fa-user"></i></span>
                                <span class="name" style="font-size: 1rem;">{{teacher.teacher_fullname}}</span>
                            <span class="icon down"><i class="fa-solid fa-chevron-down"></i></span>
                            <div class="wrap-menu">
                                <ul class="menu">
                                    <li class="itemMenu"><a href="{% url 'home' cached_class_name %}">Trang chủ</a></li>
                                    <li class="itemMenu"><a href="{% url 'teacher' %}">Thông tin giảng viên</a></li>
                                    <li class="itemMenu"><a href="">Tài khoản</a></li>
                                    <li class="itemMenu"><a href = "{% url 'logout' %}">Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                </div>
            </header>
        </div>
        <div class="sidebar">
            <div class="modal-body" style="padding-top: 65px;">
                <div class="position-sticky">
                    <div class="list-group list-group-flush mt-4">
                        <div class="list-group-item list-group-item-action 
                                    {% if current_link == 'home' %}act-with-path{% endif %} 
                                    py-2 ripple all-classname" style="cursor: pointer;">
                            <i class="fas fa-users fa-fw me-3"></i><span>Các lớp chủ nhiệm</span>
                        </div>
                        
                        <script>
                            $(document).ready(function(){
                                $(".all-classname").click(function(){
                                    $(".dropdown-classes").toggleClass('show-ul');
                                });
                            });
                        </script>
                        <ul class="dropdown-classes">
                            {% for c in classes %}
                                <li class="class-name">
                                    <a href="{% url 'home' c.class_name %}" 
                                    style="color: black; text-decoration: none;">{{c.class_name}}</a>                                 
                                </li>
                            {% endfor %}
                        </ul>


                        <div class="list-group-item list-group-item-action 
                        {% if current_link == 'updateClass' %}act-with-path{% endif %}
                                py-2 ripple" style= "cursor: pointer;">
                            <div style="color: black; text-decoration: none;" class="btn-dropdown-update-classes">
                                <i class="fas fa-calendar fa-fw me-3"></i>
                                <span>Cập nhật lớp<span>
                            </div>
                        </div>
                        <ul class="dropdown-update-classes">
                            {% for c in classes %}
                                <li class="class-name">
                                    <a href="{% url 'upload_file' c.class_name%}" 
                                    style="color: black; text-decoration: none;" 
                                    data-class-name="{{ c.class_name }}">
                                        {{c.class_name}}
                                    </a>                                 
                                </li>
                            {% endfor %}
                        </ul>
                        <script>
                            $(document).ready(function(){
                                $(".btn-dropdown-update-classes").click(function(){
                                    $(".dropdown-update-classes").toggleClass('show-ul');
                                });
                            });

                        </script>
                        <div class="list-group-item list-group-item-action
                        {% if current_link == 'addNewClass' %}act-with-path{% endif %}
                        py-2 ripple" style= "cursor: pointer;">
                            <i class="fas fa-building fa-fw me-3"></i>
                            <a href="{% url 'add_class' %}" style="color: black; text-decoration: none;">
                                <span>Thêm lớp mới</span>
                            </a>
                        </div>

                        <div class="list-group-item list-group-item-action
                        {% if current_link == 'teacher' %}act-with-path{% endif %}
                         py-2 ripple" style= "cursor: pointer;">
                            <i class="fas fa-user-tie fa-fw me-3"></i>
                            <a href="{% url 'teacher' %}" style="color: black; text-decoration: none;">
                                <span>Thông tin GV</span>
                            </a>
                        </div>
                        <div class="list-group-item list-group-item-action 
                        {% if current_link == 'aboutus' %}act-with-path{% endif %}
                        py-2 ripple" style= "cursor: pointer;">
                            <i class="fas fa-user-group fa-fw me-3"></i>
                            <a href="{% url 'about_us' %}" style="color: black; text-decoration: none;">
                                <span>Về chúng tôi</span>
                            </a>
                        </div>
                        
                        <div class="list-group-item list-group-item-action py-2 ripple" style= "cursor: pointer;">
                            <i class="fa-solid fa-arrow-right-from-bracket me-3"></i>
                            <a href = "{% url 'logout' %}" style="color: black; text-decoration: none;">
                                <span>Đăng xuất</span>
                            </a>
                        </div>
                        <script>
                            $(document).ready(function(){
                                $(".list-group-item").hover(
                                    function () {
                                        $(this).addClass("act");
                                    },
                                    function () {
                                        $(this).removeClass("act");
                                    }
                                    );
                            });
                        </script>
                    </div>
                </div>
            
            </div>
        </div>

        <div class="chat-box">
            <link rel="stylesheet" href="{% static 'chatBox/main.css' %}" />
            <div class="button-chat">
                <img
                    class="logo"
                    alt="vis4t"
                    src="{% static 'login/images/Logo_DS.png' %}"
                />
            </div>
            <div class="modal-chat isShow">
                <div class="header-chat">
                    <div class="header-chat-info">
                        <img
                            class="logo"
                            alt="vis4t"
                            src="{% static 'login/images/Logo_DS.png' %}"
                        />
                        <h4>Chat box</h4>
                    </div>
                    <div class="header-chat-close">
                        <i class="fa-solid fa-times"></i>
                    </div>
                </div>
                <div class="body-chat">
                    <div class="message admin">
                        <div class="message-admin-info">
                            <img
                                class="logo-mess"
                                alt="vis4t"
                                src="{% static 'login/images/Logo_DS.png' %}"
                            />
                        </div>
                        <div class="message-admin-content">
                            <p>Chào mừng bạn đến với Vis4T</p>
                        </div>
                    </div>
                    <div class="message admin">
                        <div class="message-admin-info">
                            <img
                                class="logo-mess"
                                alt="vis4t"
                                src="{% static 'login/images/Logo_DS.png' %}"
                            />
                        </div>
                        <div class="message-admin-content">
                            <p>Chào mừng bạn đến với Vis4T</p>
                        </div>
                    </div>
                    <div class="message admin">
                        <div class="message-admin-info">
                            <img
                                class="logo-mess"
                                alt="vis4t"
                                src="{% static 'login/images/Logo_DS.png' %}"
                            />
                        </div>
                        <div class="message-admin-content">
                            <p>Chào mừng bạn đến với Vis4T Chào mừng bạn đến với Vis4T Chào mừng bạn đến với Vis4T Chào mừng bạn đến với Vis4T</p>
                        </div>
                    </div>
                 
                    <div class="message">
                        <div class="message-content">
                            <p>Chào mừng bạn</p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="message-content">
                            <p>Chào mừng bạn</p>
                        </div>
                    </div>
                    <div class="message admin">
                        <div class="message-admin-info">
                            <img
                                class="logo-mess"
                                alt="vis4t"
                                src="{% static 'login/images/Logo_DS.png' %}"
                            />
                        </div>
                        <div class="message-admin-content">
                            <p>Chào mừng bạn đến với Vis4T</p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="message-content">
                            <p>Chào mừng bạn</p>
                        </div>
                    </div>
                </div>
                <div class="footer-chat">
                    <div class="footer-chat-info">
                        <i class="fa-solid fa-info-circle"></i>
                    </div>
                    <div class="wrap-input">
                        <div class="footer-chat-input">
                            <input id="input" type="text" placeholder="Nhập tin nhắn..." />
                        </div>
                        <div class="footer-chat-send">
                            <i class="fa-solid fa-paper-plane"></i>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function(){
                    $(".button-chat").click(function(){
                        $(".modal-chat").toggleClass('isShow');
                        $(".button-chat").toggleClass('isShow');
                    });
                    $(".header-chat-close").click(function(){
                        $(".modal-chat").toggleClass('isShow');
                        $(".button-chat").toggleClass('isShow');
                    });
                });

                var input = document.getElementById("input");
                input.addEventListener("keyup", function(event) {
                    if (event.keyCode === 13) {                
                        console.log(event.target.value)
                        input.value = "";
                    }
                });
                $(".footer-chat-send").ready(function(){
                    $(".footer-chat-send").click(function(){
                        console.log(input.value)
                        input.value = "";
                    });
                });

            </script>
        </div>

    {% block main_body %}
    {% endblock %}

    </body>
        <!--fontawesome icon-->
<script src="https://kit.fontawesome.com/5466b985c0.js" crossorigin="anonymous"></script>

</html>