{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vis For Teacher</title>
    <link rel="shortcut icon" href="https://media.iuh.edu.vn/Media/2_sviuh/Images/icon65d669c1-0-e.ico">
    <!-- CSS only -->
    {% load static %}
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    <link  rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <!--Jquery-->
    <!-- <script src="jquery-3.6.1.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!--dropdown Lib-->
    <!-- <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script> -->
    <!-- <script src="https://unpkg.com/@popperjs/core@2"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <!--Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- AOS animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!--AOS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!--Highcharts.js-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <body>
        <script>
            AOS.init();
        </script>
        <div class="header container-fluid">
            <header class="wrap-header">
                <div class="logo">
                    <a href="{% url 'home' cached_class_name %}">
                        <img src="{% static 'login/images/Logo_IUH.png'%}" alt="vis4t" style="height: 100px; width: 230px;">
                    </a>
                </div>
                <div class="wrap-option">
                        <div class="option">
                            <a class="bell_notification_clicker" href="#"> 
                                <img src="{% static 'home/images/bell.svg'%}" alt="">
                                <!-- <span>04</span> -->
                            </a>
                            
                        </div>
                        <div class="option">
                            <span class="icon"><i class="fa-solid fa-user"></i></span>
                                <span class="name" style="font-size: 15px;">{{teacher.teacher_fullname}}</span>
                            <span class="icon down"><i class="fa-solid fa-chevron-down"></i></span>
                            <div class="wrap-menu">
                                <ul class="menu">
                                    <li class="itemMenu"><a href="{% url 'home' cached_class_name %}">Trang chủ</a></li>
                                    <li class="itemMenu"><a href="{% url 'teacher' %}">Thông tin giảng viên</a></li>
                                    <li class="itemMenu"><a href="">Tài khoản</a></li>
                                    <li class="itemMenu"><a href = "{% url 'logout' %}">Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                </div>
            </header>
        </div>
        <div class="sidebar">
            <div class="modal-body" style="padding-top: 65px;">
                <div class="position-sticky">
                    <div class="list-group list-group-flush mx-3 mt-4">
                        <div class="list-group-item list-group-item-action py-2 ripple all-classname" style= "cursor: pointer;">
                            <i class="fas fa-users fa-fw me-3"></i><span>Các lớp chủ nhiệm</span>
                        </div>
                        <script>
                            $(document).ready(function(){
                                $(".all-classname").click(function(){
                                    $(".dropdown-classes").toggle();
                                });
                            });
                        </script>
                        <ul class="dropdown-classes">
                            {% for c in classes %}
                                <li class="class-name">
                                    <a href="{% url 'home' c.class_name %}">{{c.class_name}}</a>                                 
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="list-group-item list-group-item-action py-2 ripple" style= "cursor: pointer;">
                            <a href="{% url 'upload_file' %}" style="color: black; text-decoration: none;"><i class="fas fa-calendar fa-fw me-3"></i>
                                <span>Cập nhật điểm<span></a>
                        </div>

                        <div class="list-group-item list-group-item-action py-2 ripple" style= "cursor: pointer;">
                            <i class="fas fa-building fa-fw me-3"></i>
                            <a href="{% url 'add_class' %}" style="color: black; text-decoration: none;">
                                <span>Thêm lớp mới</span>
                            </a>
                        </div>

                        <div class="list-group-item list-group-item-action py-2 ripple" style= "cursor: pointer;">
                            <i class="fas fa-user-tie fa-fw me-3"></i>
                            <a href="{% url 'teacher' %}" style="color: black; text-decoration: none;">
                                <span>Thông tin GV</span>
                            </a>
                        </div>
                        <div class="list-group-item list-group-item-action py-2 ripple" style= "cursor: pointer;">
                            <i class="fas fa-user-group fa-fw me-3"></i>
                            <a href="{% url 'about_us' %}" style="color: black; text-decoration: none;">
                                <span>Về chúng tôi</span>
                            </a>
                        </div>
                        
                        <div class="list-group-item list-group-item-action py-2 ripple" style= "cursor: pointer;">
                            <i class="fa-solid fa-arrow-right-from-bracket me-3"></i>
                            <a href = "{% url 'logout' %}" style="color: black; text-decoration: none;">
                                <span>Đăng xuất</span>
                            </a>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    {% block main_body %}
    
    {% endblock %}
    </body>
        <!--fontawesome icon-->
<script src="https://kit.fontawesome.com/5466b985c0.js" crossorigin="anonymous"></script>

</html>