
/*============================================*/
.main {
    background-color: #f5f7f9;
    height: 100vh;
    width: 100vw;
}
.wrap-form-add-class {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box {
    width: 50%;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(0 0 0 / 20%);
}
.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
}
.wrap-btn {
    display: flex;
    justify-content: space-between;
}

.btn-submit-form {
    width: 50%;

}
.btn-download-example-file {
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: none;
    /* text-decoration: underline; */
    color: black;
    border-bottom: 1px solid transparent;
    font-weight: 700;
}

.btn-download-example-file:hover {
    color: #2a2a2b;
    border-bottom: 1px solid  #2a2a2b;
}