{% extends './index.html' %}
{% block reset_view %}
{% load static %}
{% load widget_tweaks %}
<link rel="stylesheet" href="{% static 'login/css/passwordReset.css' %}"/>
    <div class="wrap">
        <div class="wrap-logo">
            <div class="img-logo">
                <img
                    class="logo"
                    alt="vis4t"
                    src="{% static 'login/images/Logo_IUH.png' %}"
                />
                <img
                    class="logo"
                    style="width: 12.5rem; height: 9.375rem"
                    alt="vis4t"
                    src="{% static 'login/images/Logo_DS.png' %}"
                />
            </div>
        </div>
        <div class="wrap-form">
            <h2 class="title">Đổi mật khẩu </h2>
            <form method="post"></form>
            {% csrf_token %}

                <fieldset class="module aligned">

                    <div class="form-outline mb-4 form-group">
                        <label class="form-label">Mật khẩu mới :</label>
                        {{ form.new_password1|add_class:"form-control"|attr:"placeholder:Mật khẩu mới" }}
                    </div>
                  
                    <div class="form-outline mb-4 form-group">
                        <label class="form-label">Xác nhận mật khẩu mới :</label>
                        {{ form.new_password2|add_class:"form-control"|attr:"placeholder:Xác nhận mật khẩu mới" }}
                    </div>
                    <input type="submit" class="btn btn-primary mb-4" style="width: 100%;" value="Xác nhận">
                </fieldset>
                
              </form>
        </div>
    </div>
{% endblock %}
