{% extends './index.html' %}
{% block reset_view %}
{% load static %}
<link rel="stylesheet" href="{% static 'login/css/passwordReset.css' %}"/>
    <div class="wrap">
        <div class="wrap-logo">
            <div class="img-logo">
                <img
                    class="logo"
                    alt="vis4t"
                    src="{% static 'login/images/Logo_IUH.png' %}"
                />
                <img
                    class="logo"
                    style="width: 200px; height: 150px"
                    alt="vis4t"
                    src="{% static 'login/images/Logo_DS.png' %}"
                />
            </div>
        </div>
        <div class="wrap-form">
            <h2 class="title">Đổi mật khẩu</h2>
            <form>
                <!-- Email input -->
                <div class="form-outline mb-4 form-group">
                    <label class="form-label" for="form2Example1">Mật khẩu cũ :</label>
                    <input type="text" id="old-pass" class="form-control" />
                </div>
              
                <!-- Password input -->
                <div class="form-outline mb-4 form-group">
                    <label class="form-label" for="form2Example2">Mật khẩu mới :</label>
                    <input type="text" id="new-pass" class="form-control" />
                </div>
              
                
              
                <!-- Submit button -->
                <div class="wrap-btn">
                    <button type="button" class="btn btn-primary mb-4" style="width: 100%;">Xác nhận</button>
                </div>
              
               
              </form>
        </div>
    </div>
{% endblock %}
