{% extends './index.html' %}
{% block reset_view %}
{% load static %}
<link rel="stylesheet" href="{% static 'login/css/passwordReset.css' %}"/>
    <div class="wrap">
        <div class="wrap-logo">
            <div class="img-logo">
                <img
                    class="logo"
                    alt="vis4t"
                    src="{% static 'login/images/Logo_IUH.png' %}"
                />
                <img
                    class="logo"
                    style="width: 200px; height: 150px"
                    alt="vis4t"
                    src="{% static 'login/images/Logo_DS.png' %}"
                />
            </div>
        </div>
        <div class="wrap-form">
            <h2 class="title">Đổi mật khẩu</h2>
            <form method="post">
                {% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-outline mb-4 form-group">
                        <label class="form-label">Mật khẩu cũ :</label>
                        {{ form.old_password }}
                    </div>

                    <div class="form-outline mb-4 form-group">
                        <label class="form-label">Mật khẩu mới :</label>
                        {{ form.new_password1 }}
                    </div>
                  
                    <div class="form-outline mb-4 form-group">
                        <label class="form-label">Xác nhận mật khẩu mới :</label>
                        {{ form.new_password2 }}
                    </div>
                  
                    <div class="wrap-btn">
                        <input type="submit" class="btn btn-primary mb-4" style="width: 100%;" value="Xác nhận">
                    </div>
                </fieldset>
                
              
               
              </form>
        </div>
    </div>
{% endblock %}
