{% extends './index.html' %}
{% block form_type %}
{% load static %}

<div class="wrap-password-reset">
    <div class="block" style="margin-bottom: 0.625rem;" >
        <span class="icon">
            <i class="fa-sharp fa-solid fa-lock lockIcon"></i>
        </span>
    </div>
    <div class="form-group">
        <p class="title">Đã gửi gmail xác nhận</p>
        <p class="title">Vui lòng kiểm tra gmail của bạn</p>
    </div>
    <div class="btn-wrapper-link-to-email">            
        <a href="https:/gmail.com">Chuyển đến trang gmail <i class="fa-solid fa-envelope" style="margin-left: 0.3125rem;"></i></a>
    </div>
    <div class="footer">
        <a>VisForTeacher © 2023</a>
      </div>
    <script src="https://kit.fontawesome.com/5466b985c0.js" crossorigin="anonymous"></script>
</div>
{% endblock %}
