{% extends './index.html' %}
{% block form_type %}
{% load static %}

<div class="form-container">
    <div class="form up-form">
    <h1 class="title">Nhập gmail</h1>
      <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.email }}
        </div>
        <div class="option">
            <div class="forgot">
              <a class="forgot-password" href="{% url 'login' %}">
                <p>Quay về trang đăng nhập</p>
              </a>
            </div>
          </div>
        <div class="btn-wrapper">
          <button type="Submit" class="btn-login" name="Send email">Gửi gmail xác nhận</button>
        </div>
      </form>
      
      <div class="footer">
        <a>VisForTeacher © 2023</a>
      </div>
    </div>
    
  </div>
</div>

<script src="https://kit.fontawesome.com/5466b985c0.js" crossorigin="anonymous"></script>
<script src="{% static 'login/js/main.js' %}"></script>
{% endblock %}
