*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar { 
	width: 0 !important;
	display: none; 
}
@media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
}
.main{
    background-color: #e7ecf0;
    padding-left: 280px;
}


.header{
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #e7ecf0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    height: 100px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
}
.wrap-header{
    height: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 150px;
    height: 100px;
}
.wrap-option{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.down{
    display: block;
    padding: 0 0 0 10px;
}
.option{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 8px;
    padding: 2px 8px;
}
.option:last-child{
    margin-right: 0;
    padding-right: 0;
    position: relative;
}
.option:last-child:hover .wrap-menu{
    display: block;
}
.wrap-menu{
    position: absolute;
    top: 30px;
    right: 0px;
    width: 150px;
    height: 120px;
    z-index: 2;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;
    display: none;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    animation: show 0.35s linear;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 100%;
    padding: 0;
}
.itemMenu{
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
.itemMenu:hover{
    background-color: #f3f6f8;
}
.itemMenu a{
    display: block;
    width: 100%;
    padding: 5px 10px;
}
.itemMenu:last-child{
    border: none;
}
.option a , option span{
    color: rgb(111, 111, 111);
    text-decoration: none;
    font-size: 13px;
    
}
.option a:hover{
    color: black;
}
.sidebar{
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    /* border-right: 1px solid rgb(0 0 0 / 20%); */
    width: 260px;
    position: fixed;
    padding-top: 50px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 6;
}
.wrapper-sidebar-content{
    padding-top: 65px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.dropdown-classes {
    display: none;
    margin: 0;
    list-style: none;
    width: 0%;
    padding:5px 60px;
    animation: showClassName .6s linear;
}

@keyframes showClassName {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
    
}
.dropdown-classes ul  {
    width: 100%;
}

.show-dropdown-classname {
    display: block;
}
.content{
    /* background-color: blue; */
    padding-top: 100px;
}

.title{
    font-size: 19px;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
}

.portlet{
    font-size: 13px;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    padding-bottom: 8px;
    padding: 8px 20px;
    margin-bottom: 0;
    font-weight: 500;
}
.portlet p {
    padding: 0;
    margin: 0;
}
.portlet h2 {
    padding: 0;
    margin: 0;
}
.portlet:last-child{
    border-bottom: none;
}

.dropdown{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.dropdownStudent{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.custom-btn{
    background-color: transparent !important;
    color: black !important;
    padding: 6px 30px !important;
    font-size: 25px !important;
    border-color: rgb(0 0 0 / 15%) !important;
    font-weight: 500 !important;
}
.custom-btn:hover{
    background-color: #f8f7f7 !important;
}
.dropdown-menu-student {    
    height: 160px;
    overflow: scroll;
}
.dropdown-item{
    border-top: 1px solid rgb(0 0 0 / 4%) !important;
}
.dropdown-item:last-child{
    /* border: none !important; */
    border-bottom: 1px solid rgb(0 0 0 / 4%) !important;
}

.classSize {
    padding-left: 0 !important;

}
.classSize .wrap{
    background: #e0fbff;
    color:#4da1e8;
}

.wrap{
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    border-radius: 8px;
    height: 116px;
    padding: 8px;
    padding: 10px;
}
.wrap div span{
    font-size: 30px;
}
.wrap div span:first-child{
    padding-bottom: 6px;
}
.wrap div{
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrap-box {
    padding: 10px;
    width: 100%;
    height: 100%;
    /* margin-top: 20px; */
    border: 2px solid rgb(0 0 0 / 20%);
    border-radius: 20px;
    background-color:  #ffffff;
    overflow: hidden;   
}
