*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar { 
	width: 0 !important;
	display: none; 
}
@media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
}
.main{
    background-color: #e7ecf0;
}


.header{
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #e7ecf0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    height: 55px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
}
.wrap-header{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
    height: 100%;
}
.wrap-option{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon{
    display: block;
    padding: 5px;
    font-size: 12px;
    color: rgb(99, 99, 99);
}
.name{
    font-size: 13px;
    padding: 10px 0;
}
.down{
    display: block;
    padding: 0 0 0 10px;
}
.option{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 8px;
    padding: 2px 8px;
}
.option:last-child{
    margin-right: 0;
    padding-right: 0;
    position: relative;
}
.option:last-child:hover .wrap-menu{
    display: block;
}
.wrap-menu{
    position: absolute;
    top: 38px;
    right: 0px;
    width: 150px;
    height: 120px;
    z-index: 2;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;
    display: none;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    animation: show 0.35s linear;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 100%;
    padding: 0;
}
.itemMenu{
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
.itemMenu:hover{
    background-color: #f3f6f8;
}
.itemMenu a{
    display: block;
    width: 100%;
    padding: 5px 10px;
}
.itemMenu:last-child{
    border: none;
}
.option a , option span{
    color: rgb(111, 111, 111);
    text-decoration: none;
    font-size: 13px;
    
}
.option a:hover{
    color: black;
}

.content{
    /* background-color: blue; */
    padding-top: 65px;
}

.info{
    height: 248px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    border-radius: 8px;
    padding: 10px;
}
.title{
    font-size: 19px;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
}

.form-group{
    margin-bottom: 10px;
    border-bottom: 0.2px solid rgb(0 0 0 / 5%);
}
.form-group:first-child{
    margin-top: 10px;
}
.form-group label{
    font-size: 13px;
    color: rgb(99, 99, 99);
}
.form-group span{
    font-size: 14px;
    color: black;
    font-weight: 600;
}
.avatar{
    border:1px sold black ;
    width: 100%;
    height: 100%;
    padding-left: 20px !important;
    padding-top: 20px;

}
.wrap-img{
    display: flex;
    width: 145px;
    height: 145px;
    border-radius: 999px;
    overflow: hidden;
    object-fit: contain;
    border: 1px solid rgb(0 0 0 / 20%);
}
.wrap-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 145px;
    height: 145px;
}
.listInfo{
    border:1px sold black ;
    width: 100%;
    height: 100%;
}
.portlet p{
    font-size: 13px;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    padding-bottom: 2px;
    margin-bottom: 0;
    font-weight: 500;
}
.currentClass{
    height: 110px;
    margin-bottom: 16px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    border-radius: 8px;
    padding: 8px;
}
.dropdown{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.custom-btn{
    background-color: transparent !important;
    color: black !important;
    padding: 6px 30px !important;
    font-size: 25px !important;
    border-color: rgb(0 0 0 / 15%) !important;
    font-weight: 500 !important;
}
.custom-btn:hover{
    background-color: #f8f7f7 !important;
}
.dropdown-item{
    border-top: 1px solid rgb(0 0 0 / 4%) !important;
}
.dropdown-item:last-child{
    /* border: none !important; */
    border-bottom: 1px solid rgb(0 0 0 / 4%) !important;
}
.modal-dropdown{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
}
.classInYear {
    padding-left: 0 !important;
}
.totalClass{
    padding-right: 0 !important;
}

.wrap{
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    border-radius: 8px;
    height: 116px;
    padding: 8px;
    padding: 10px;
}
.wrap div span{
    font-size: 30px;
}
.wrap div span:first-child{
    padding-bottom: 6px;
}
.wrap div{
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.overall {
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    height: calc(100vh - 455px);
    margin-top: 17px;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 10px;
    display: none;
    z-index: 2;

}

.feature {
    display: none;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    height: calc(100vh - 190px);
    margin-top: 17px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 12px;
    z-index: 2;
}
.chart {
    position: relative;
}
.atv{
    display: block !important;
    animation: showSlideFeature linear 0.6s;
}

.hideItem {
    animation: hideSlideFeature linear 0.6s;
}

.active {
    color: green;

}

.arrow{
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    border-left:1px solid  rgb(0 0 0 / 20%);
    display: flex;
    top: 8px;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    position: absolute;
    animation: showArrow linear 0.7s;
    transform: rotate(135deg);
}

@keyframes showSlideFeature {
    from{
        opacity: 0;
        transform: translateX(500px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }
}

@keyframes showArrow {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@keyframes hideSlideFeature {
    from{
        opacity: 1;
        transform: translateX(0);
    }
    to{
        opacity: 0;
        transform: translateX(-500px);

    }
}

