/* css modal */
.modal.left .modal-dialog{
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content{
height: 100%;
overflow-y: auto;
}

.modal.left .modal-body{
padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
-webkit-transition: opacity 0.3s linear, left 0.5s linear;
    -moz-transition: opacity 0.3s linear, left 0.5s linear;
        -o-transition: opacity 0.3s linear, left 0.5s linear;
        transition: opacity 0.3s linear, left 0.5s linear;
}

.modal.left.fade.in .modal-dialog{
left: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
border-radius: 0;
border: none;
box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
}

.modal-header {
background-color: #e7ecf0;
box-shadow: 0 1px 4px rgb(0 0 0 / 20%);

}

/* ----- v CAN BE DELETED v ----- */
body {
background-color: #78909C;
}

.demo {
padding-top: 60px;
padding-bottom: 110px;
}

.btn-demo {
margin: 15px;
padding: 10px 15px;
font-size: 16px;
}

.btn-demo:focus {
outline: 0;
}

.demo-footer {
position: fixed;
bottom: 0;
width: 100%;
padding: 15px;
background-color: #212121;
text-align: center;
}

.demo-footer > a {
text-decoration: none;
font-weight: bold;
font-size: 16px;
color: #fff;
}

.btn-sidebar {
position: fixed;
top: 100px;
left: 0px;


}
.close-sidebar {
width: 40px;
height: 40px;
display: block;
border: none;
background-color: transparent;
}


@keyframes show {
from{
    height: 0;
}
to{
    height: 120px;
}
}