.wrap-options {
    padding-top: 8px;
}
.option-1 {
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    border-radius: 8px;
    height: 100px;
    padding: 10px;
    text-align: center;
}



.option-1 p {
    font-size: 13px;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    padding-bottom: 2px;
    margin-bottom: 0;
    font-weight: 500;
}
.option-1:hover{
    cursor: pointer;
    color: rgba(71, 193, 101, 0.896);
}

.overall {
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    height: calc(100vh - 455px);
    margin-top: 17px;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 10px;
    display: none;
    z-index: 2;

}

.feature {
    display: none;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    height: calc(100vh - 190px);
    margin-top: 17px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 12px;
    z-index: 2;
}
.chart {
    position: relative;
}
.atv{
    display: block !important;
    animation: showSlideFeature linear 0.5s;
}

.hideItem {
    animation: hideSlideFeature linear 0.5s;
}

.active {
    color: rgba(71, 193, 101, 0.896);

}

.arrow{
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    border-left:1px solid  rgb(0 0 0 / 20%);
    display: flex;
    top: 8px;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    position: absolute;
    animation: showArrow linear 0.5s;
    transform: rotate(135deg);
}

.form-check-input {
    width: 100px !important;
    height: 28px;
    outline: none;
}

.form-check-input:checked {
    background-color:  rgb(110, 240, 110);
    border-color:  rgb(110, 240, 110);
}

.form-check-input:focus {
    border-color:  rgb(110, 240, 110);
    box-shadow: none;
}
.text_score{
    position: absolute;
    left: 11px;
    top: 8px;
    pointer-events: none;
    font-size: 13px;
    font-weight: 500;
    display: none;
}
.number_score{
    position: absolute;
    right: 15px;
    top: 8px;
    pointer-events: none;
    font-size: 13px;
    font-weight: 500;
    display: none;
}
.actBtn {
    display: block !important;
}
@keyframes showSlideFeature {
    from{
        opacity: 0;
        transform: translateX(500px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }
}

@keyframes showArrow {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@keyframes hideSlideFeature {
    from{
        opacity: 1;
        transform: translateX(0);
    }
    to{
        opacity: 0;
        transform: translateX(-500px);

    }
}

