.tabulator{
    /* background-color: rgba(24, 252, 3, 0.2);
    background-color: transparent; */
    /* height: 80%;
    top: 20%; */
    background-color: #efefef;
}
.tabulator-header{
    background-color: black !important;
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%); */
}


.tabulator .tabulator-header .tabulator-col {
    background-color: rgb(110, 240, 110);
    color: black;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=none] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow{
    border-bottom: 6px solid black;
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=ascending] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow{
    border-bottom: 6px solid red;
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=descending] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
    border-bottom: none;
    border-top: 6px solid red;
    color: red;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover {
    cursor: pointer;
    background-color: rgba(79, 255, 79, 0.9);
}

.csv-table {
    height: 100%;
}

.form-check-input {
    width: 100px !important;
    height: 28px;
    outline: none;
}

.form-check-input:checked {
    background-color:  rgb(110, 240, 110);
    border-color:  rgb(110, 240, 110);
}

.form-check-input:focus {
    border-color:  rgb(110, 240, 110);
    box-shadow: none;
}
.text_score{
    position: absolute;
    left: 11px;
    top: 8px;
    pointer-events: none;
    font-size: 13px;
    font-weight: 500;
    display: none;
}
.academic-rank{
    position: absolute;
    right: 15px;
    top: 8px;
    pointer-events: none;
    font-size: 13px;
    font-weight: 500;
    display: none;
}

.actBtn {
    display: block !important;
}