.tabulator{
    /* background-color: rgba(24, 252, 3, 0.2); */
    background-color: transparent;
    /* height: 80%;
    top: 20%; */
}
.tabulator-header{
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
}

.csv-table {
    height: 100%;
}