
.overview {
    padding: 0.625rem;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}
.tabulator-col-content{
    font-size: 0.95rem !important;
    font-weight: 500 !important;
    text-align: center;
}

.tabulator{
    /* background-color: rgba(24, 252, 3, 0.2);
    background-color: transparent; */
    /* height: 80%;
    top: 20%; */
    background-color: transparent;
    border-color: transparent !important ;
}
.tabulator-header{
    background-color: black !important;
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%); */
}

.tabulator .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols {
    border-color: transparent;
    border-radius: 0.625rem;
    background-color: white;
}
.tabulator-col .tabulator-col-group {
    background-color: white !important;
}

.tabulator-header {
    border:none !important;
    background-color: white !important;
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=none] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow{
    border-bottom: 0.375rem solid black;
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=ascending] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow{
    border-bottom: 0.375rem solid red;
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=descending] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
    border-bottom: none;
    border-top: 0.375rem solid red;
    color: red;
}

div.tabulator-col-group-cols{
    font-size: 1rem;
    font-weight: 400;
    color: #2f90f7;
    white-space: nowrap;
    font-family: barlow,sans-serif;
}
.tabulator .tabulator-header .tabulator-col {
  border-right: 1px solid transparent;
}

.tabulator-row .tabulator-cell {
    border-color: transparent !important;
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover {
    cursor: pointer;
    background-color: rgba(131, 133, 131, 0.2);
}

.csv-table {
    height: 100%;
    border-color: transparent !important;
}
.tabulator-row{
    border-radius: 0.625rem;
}

.tabulator .tabulator-header .tabulator-col {
    background-color: aliceblue;
}

.tabulator .tabulator-header {
    border-radius: 1rem;
}

