.wrap {
    height: 100vh;
    background-color: #ebfcf9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.wrap-form {
    width: 370px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid rgb(0 0 0 / 30%);
    margin-bottom: 3rem;
}
.title {
    margin-bottom: 1.5rem;
}
.form-outline {
    width: 21.25rem;
    margin-bottom: 1.25rem;
}
.form-label {
    display: flex;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
}
.wrap-btn {
    width: 21.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}