{% extends './index.html' %}
{% block form_type %}
    <div class="form">
        <form method="post">
            {% csrf_token %}
            <h1 class="title">Đăng nhập</h1>
            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                    {% if field.html_name == "password" %}
                    <span class="unEye"><i class="fa-regular fa-eye"></i></span>                            
                    <div  class="eye active" ><i class="fa-solid fa-eye-slash"></i></div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="option">
                <div class="checkbox">
                    <input type="checkbox"/>
                    <span>Remember me</span>
                </div>
                <div class="forgot">
                    <a class="link" href="https://www.youtube.com/watch?v=6depEZ1acKM">
                        <p>Quên mật khẩu</p>
                    </a>
                </div>
            </div>
            <div class="btn-wrapper">
                <button class="btn-login" name="login_submit">Đăng nhập</button>
            </div>
        </form>

        <div class="footer">
            <a>VisForTeacher © 2023</a>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/5466b985c0.js" crossorigin="anonymous"></script>
    <script>
        const passwordEl = document.querySelector('.password')
        const eyeEl = document.querySelector('.eye')
        const unEyeEl = document.querySelector('.unEye')

        eyeEl.onclick = (()=>{
            passwordEl.setAttribute('type','text')
            unEyeEl.classList.add('active')
            eyeEl.classList.remove('active')
        })
        unEyeEl.onclick = (()=>{
            passwordEl.setAttribute('type','password')
            unEyeEl.classList.remove('active')
            eyeEl.classList.add('active')
        })

    </script>
{% endblock %}
